<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-text>{{ titulo }}</ion-text>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onClose()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formulario" (ngSubmit)="onGrabarLista()">
        <ion-item>
            <ion-label position="floating">List name</ion-label>
            <ion-input type="text" formControlName="nomlista" clearInput name="nomlista">
            </ion-input>
            <ion-text *ngIf="formulario.get('nomlista').invalid && formulario.get('nomlista').touched">The list should
                have a name...</ion-text>
        </ion-item>
        <div class="ion-text-end" style="margin-right:16px; margin-top:8px;">
            <ion-icon name="save-outline" size="large" color="primary" (click)="onGrabarLista()"></ion-icon>
            <ion-icon name="close-circle-outline" size="large" color="danger" (click)="onClose()"></ion-icon>
        </div>

        <!--    
        <div>
            <ion-button [disabled]="!formulario.valid" type="submit" color="primary" expand="block">Save List
            </ion-button>
        </div>
        -->
    </form>

</ion-content>