<ion-header>
    <ion-toolbar color="primary">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <div style="display:flex; flex-direction:row;">
                        <ion-title>
                            Oblits
                        </ion-title>
                        <ion-buttons slot="end">
                            <ion-back-button defaultHref="/home"></ion-back-button>
                        </ion-buttons>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <div>
                    <h5 class="ion-text-center">Nueva Lista</h5>
                </div>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <div>
                    <form [formGroup]="formulario" (ngSubmit)="onGrabarLista()">
                        <ion-item>
                            <ion-label for="nomLista" position="floating">Nombre</ion-label>
                            <ion-input type="text" formControlName="nomLista" clearInput name="nomLista"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label for="usuario" position="floating">Compartida con...</ion-label>
                            <ion-input type="text" formControlName="usuario" clearInput name="usuario"></ion-input>
                            <ion-icon name="add-circle-outline" slot="end" (click)="onAddUser()"></ion-icon>
                        </ion-item>
                        <ion-list>
                            <ion-item *ngFor="let compartida_con of listaCompartida">
                                <ion-label>{{ compartida_con }}</ion-label>
                            </ion-item>
                        </ion-list>
                        <ion-button type="submit">Grabar Lista</ion-button>
                    </form>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>