<ion-header>
    <ion-toolbar color="primary">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <div style="display:flex; flex-direction:row;">
                        <ion-title>
                            Oblits
                        </ion-title>
                        <ion-buttons slot="end">
                            <ion-back-button defaultHref="/home"></ion-back-button>
                        </ion-buttons>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <div>
                    <h5 class="ion-text-center">{{ miLista.nombre}}</h5>
                </div>
                <div>
                    <form [formGroup]="formulario" (ngSubmit)="onGrabarItem()">
                        <ion-item>
                            <ion-label position="floating">{{ this.indexItem == -1 ? 'Add one item...' : 'Edit
                                item...'}}</ion-label>
                            <ion-input type="text" formControlName="nomItem" clearInput name="nomItem"></ion-input>
                            <ion-icon name="save-outline" slot="end" color="primary" (click)="onGrabarItem()">
                            </ion-icon>
                            <ion-icon name="close-circle-outline" slot="end" color="danger" (click)="cancelarItem()">
                            </ion-icon>
                        </ion-item>
                    </form>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list lines="none">
                    <ion-list-header>
                        <h5>To Buy</h5>
                    </ion-list-header>

                    <div *ngFor="let item of miLista.items; let i = index;">
                        <ion-item *ngIf="!item.comprado">
                            <ion-checkbox slot="start" (ionChange)="onActualizarComprado(i)"></ion-checkbox>
                            <ion-label class="ion-text-wrap" color="medium" style="font-size: 0.9em">{{ item.nombre }}
                            </ion-label>
                            <ion-button (click)="editarItem(item, i)">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-button>
                            <ion-button (click)="onCompartirItem(item, i)">
                                <ion-icon name="share-social-outline"></ion-icon>
                            </ion-button>
                            <ion-button color="danger" (click)="onEliminarItem(i)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list lines="none">
                    <ion-list-header>
                        <h5>Bought</h5>
                    </ion-list-header>

                    <div *ngFor="let item of miLista.items; let i = index;">
                        <ion-item *ngIf="item.comprado">
                            <ion-checkbox slot="start" (ionChange)="onActualizarComprado(i)"></ion-checkbox>
                            <ion-label class="ion-text-wrap" color="medium"
                                style="font-size: 0.9em; text-decoration: line-through;">{{ item.nombre }}
                            </ion-label>
                            <ion-button (click)="editarItem(item, i)">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-button>
                            <ion-button (click)="onCompartirItem(item, i)">
                                <ion-icon name="share-social-outline"></ion-icon>
                            </ion-button>
                            <ion-button color="danger" (click)="onEliminarItem(i)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-col>
        </ion-row>


    </ion-grid>



</ion-content>