<ion-header>
    <ion-toolbar color="primary">
        <ion-title size="small">{{ nomUsuario }}</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <div style="display:flex; flex-direction:row;">
                        <ion-title>
                            Oblits
                        </ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="onEditLista('new')">
                                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                            </ion-button>
                            <ion-button (click)="onLogout()">
                                <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-card *ngFor="let lista of misListas; let i = index">
                    <ion-item>
                        <ion-icon name="pin" slot="start"></ion-icon>
                        <ion-label>{{ lista.nombre }}</ion-label>
                    </ion-item>

                    <ion-card-content>
                        <ion-text>{{ getItems(i) }}</ion-text>
                        <div class="ion-text-end">
                            <ion-icon name="bag-handle-outline" size="large" color="primary"
                                [routerLink]="['/items-edit/', lista.id]">
                            </ion-icon>

                            <ion-icon name="create-outline" size="large" color="primary"
                                [routerLink]="['/listas-edit/', lista.id]">
                            </ion-icon>

                            <ion-icon name="trash-outline" size="large" color="danger"
                                (click)="onDeleteLista(lista.id, lista.nombre)">
                            </ion-icon>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>